/*ქართული ფონტი რომელითაც ქართულ ტექსქებს ვწერ*/
.geo-font{
    font-family: "BPG Mikheil Stefane", sans-serif;
}



.header1{
    display: flex;
    justify-content: space-between;
}

.nav-a{
 color: brown;
 font-size: 12px;
 margin-left: 25px;
}


.ulu{
    display: flex;
    margin-top: 15px;
    margin-left: 25px;
}

/* მიტანის სერვისის ღილაკს ვანიჭებ ზომას ფერს და ზომას*/
.but{
    width: 80px;
    height: 100px;
    background-color: rgb(255, 208, 0);
    color: rgb(5, 4, 1);
    border-radius: 80px;
    margin-top: 20px;
}

.spam1{
  font-size: 30px;
}


.img-1{
    margin-left: 950px;
    margin-top: 10px;
    
}


.p-1{
    font-family: "BPG Mikheil Stefane", sans-serif;
    color: rgb(3, 3, 7);
   
}

.p-2{
    font-family: "BPG Mikheil Stefane", sans-serif;
    color: rgb(7, 4, 3);
   
} 

.about-1{
    font-family: "BPG Mikheil Stefane", sans-serif;
    color: whitesmoke;
    font-size: 18px;
    margin-top: 8px;
    margin-left: 5px;
}

.about-2{
    font-family: "BPG Mikheil Stefane", sans-serif;
    color: whitesmoke;
    font-size: 18px;
    margin-top: 8px;
    margin-left: 5px;
}

.about-3{
    font-family: "BPG Mikheil Stefane", sans-serif;
    color: whitesmoke;
    font-size: 18px;
    margin-top: 8px;
    margin-left: 5px;
}

.about-4{
    font-family: "BPG Mikheil Stefane", sans-serif;
    color: whitesmoke;
     font-size: 18px;
     margin-top: 8px;
    margin-left: 5px;
}








.image-2{
  margin-top:90px;
  width: 500px;
  height: 410px;
  background-image: url(../images/red.jpg);
}

.cont-1{
    margin-top: 15px;
}

.text-relat{
    font-size: 25px;
    font-family: 'BPG Mikheil Stefane';
    color: whitesmoke;
}




.a-5{
    font-family: "BPG Mikheil Stefane", sans-serif;
    color: whitesmoke;
    margin-left: 10px;
    margin-top: 5px;
}

.a-6{
    font-family: "BPG Mikheil Stefane", sans-serif;
    color:whitesmoke;
    margin-left: 10px;
    margin-top: 8px;
}


.image-3{
    width: 500px;
    height: 500px;
    margin-left: 400px;
}


.deliver-1{
    display: flex;
    margin-left: 20px;
    margin-top: 70px;
    color: rgb(10, 8, 5);
    
}

/*მიტანის სერვისის გვერდზე სათაურს ვანიჭებ ფერს და ზომას*/
.glovo{
    font-size: 35px;
    color: rgb(99, 168, 146);
    background-color: rgb(255, 208, 0);

}

.glovo-2{
    display: flex;
    width: 1354px;
    height: 604px;
    margin-top: 10px;
    
}

/*ამ კოდით მთლიან ბექგრაუნდს ვაფერადებ ვიზუალურად სასიამოვნო რომ იყოს*/
.backcolor-1{
    background-color: rgb(95, 41, 4);
}

.backcolor-2{
    background-color: rgb(95, 41, 4);
}

.hot-1{
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 25px;
}

.li-1{
    margin-top: 8px;
    margin-left: 5px;
}

.cold-2{
    margin-top: 20px;
    margin-left: 5px;
}

.li-2{
    margin-top: 10px;
    margin-left: 5px;
}

/*კერძების მენიუს გვერდზე ქართული კერძების სურათს ვანიჭებ ზომას*/
.men-1{
    width: 700px;
    height: 400px;
    margin-left: 648px;
}


.lari{
    color: seagreen;
}
/*გასართობის ღონისძიებების გვერდს ფონტს ვანიჭებ*/
.gartoba-5{
    background-color: rgb(95, 41, 4);
}

.image-5{
    width: 800px;
    height: 380px;
    padding-top: 5px;
}
/*საავტორო უფლებები*/
.rights{
    color: rgb(22, 0, 0);
    margin-left: 400px;
    padding-top: 1px;
    
    
}

.map-15{
    background-color:rgb(79, 151, 79)
}

/* რესტორნის მისამართის ტექსტის ფონტი და ზომა*/
.map-font-1{
    font-family: "BPG Mikheil Stefane", sans-serif;
    font-size: 18px;
    color:black;
    margin-top: 10px;
    margin-left: 15px;
}

.li-20{
    margin-top: 5px;
    margin-left: 15px;
    color:whitesmoke;
}

.map-size{
    width: 650px;
    height: 490px;
    margin-top: 5px;
}

.glovo-back{
   background-color: rgb(255, 208, 0); 
}
