body{
    height: 100vh;
    background-image: url(../images/2.jpg);
    background-size: cover;
}

.header-1{
    display: flex;
    justify-content: space-between;
}

.nav-a{
 color: brown;
 font-size: 12px;
 margin-left: 25px;
}


.ul-1{
    display: flex;
    margin-top: 15px;
    margin-left: 25px;
}

/* მიტანის სერვისის ღილაკს ვანიჭებ ზომას ფერს და ზომას*/
.but-1{
    width: 80px;
    height: 100px;
    background-color: rgb(255, 208, 0);
    color: rgb(5, 4, 1);
    border-radius: px;
    margin-top: 20px;
}

.logo-1{

    margin: 0.5%;
}

/*საავტორო უფლებები*/
.rights-1{
    padding-bottom: 0.2%;
    padding-left: 50%;

    color: blue;
    
       
}
.footer-cont{
    margin-bottom: 2px;
}
