.geo-font{
    font-family: "BPG Mikheil Stefane", sans-serif;
}

.header1{
    display: flex;
    justify-content: space-between;
}

.nav-a{
 color: brown;
 font-size: 12px;
 margin-left: 25px;
}


.ulu{
    display: flex;
    margin-top: 15px;
    margin-left: 25px;
}


.but{
    width: 80px;
    height: 100px;
    background-color: black;
    color: blanchedalmond;
    border-radius: 80px;
    margin-top: 20px;
}

.spam1{
  font-size: 30px;
}


.img-1{
    margin-left: 950px;
    margin-top: 10px;
    
}


.p-1{
    font-family: "BPG Mikheil Stefane", sans-serif;
    color: blue;
   
}

.p-2{
    font-family: "BPG Mikheil Stefane", sans-serif;
    color: rgb(255, 17, 0);
   
} 


.image-2{
  margin-top: 150px;
  margin-left: 250px;
  margin-bottom: 250px;
  margin-right: 250px;
  background-image: url(../images/red.jpg);
}

.cont-1{
    margin-top: 50px;
}

.text-relat{
    font-size: 25px;
    font-family: 'BPG Mikheil Stefane';
    color: rgb(228, 137, 19);
}


.chven-1{
    font-size: 25px;
    margin-top: 50px;
}

.chven-2{
    font-size: 25px;
    margin-top: 50px;
}


.a-5{
    font-family: "BPG Mikheil Stefane", sans-serif;
    color: rgb(89, 0, 255);
}

.a-6{
    font-family: "BPG Mikheil Stefane", sans-serif;
    color: rgb(89, 0, 255);
}


.image-5{
    width: 600px;
    height: 300px;
    margin-top: 100px;
    margin-left: 100px;
}
